@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css); 


body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white!important;
    }
}

img {border:0px;}
.feed-container{font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;font-size:12px;color:#fff;border:0px solid #CCCCCC;}
.feed-container .header{display:none;}
.feed-container .footer{display:none}
.feed-container .content{margin:0px;padding:0 3px;}
.feed-container .content .item{margin:0 0 7px 0;padding:0 0 7px 0;}
.feed-container .content .item .title{margin:1px 0 1px 3px;padding:1px 2px 1px 3px;color:#000;font-weight:bold;}
.feed-container .content .item .title a:link{color:#000;text-decoration:none;}
.feed-container .content .item .title a:visited{color:#000;text-decoration:none;}
.feed-container .content .item .title a:hover{color:#000;text-decoration:underline;}
.feed-container .content .item .title a:active{color:#000;text-decoration:none;}
.feed-container .content .item .description{margin:0 0 0 3px;padding:0 2px 0 3px;color:#666;}
.feed-container .content .item .description a{text-decoration:none;color:#000;}
.feed-container .content .item .description a:hover{text-decoration:underline;color:#666;}

.section {
  max-height: 150px;
  padding: 1rem;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #8070d4;
  scrollbar-width: thin;

.section::-webkit-scrollbar {
  width: 20px;
}

.section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
}
